<div class="container-fluid bg-black custom_heghit d-flex justify-content-center align-items-center">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-6 pt-5">
      <img src="../../assets/imgs/num1.webp" alt=""  class="img-fluid d-flex justify-content-center mx-auto">
    </div>
    <div class="col-md-6 pt-5 ">
      <h2 class="text-white">Hello I'm Samir Ahmed</h2>
      <p class="text-white w-75 custom_Width">I am a highly skilled web developer focusing on frontend development. My expertise spans across a wide range of technologies, including HTML, CSS, JavaScript, Bootstrap, TypeScript, Sass, Git, and GitHub. With a keen eye for design and a passion for user experience, I craft intuitive and visually stunning websites that not only meet but exceed clients' expectations. My dedication to staying updated with the latest trends and techniques ensures that I deliver cutting-edge solutions that resonate with modern web standards.
      </p>
      <div class="media_Edit">
        <button class="btn btn-danger me-4 mt-2">Check My CV</button>
        <button class="btn btn-success me-3 mt-2 second_btn"><a href="#" routerLink="Contact-us" class="nav-link">Contact With Me</a></button>
      </div>
      <div class="my-5"><hr></div>
      <h2 class="text-white">What Can I Do For You ?</h2>
      <div class="d-flex custom_flex">
        <fa-icon [icon]="faCheck" class="text-danger me-3"></fa-icon>
        <p class="text-white w-75">I will create interactive and responsive web pages or websites, with a strong focus on performance, SEO, and best practices, including those outlined by tools like Lighthouse.</p>
      </div>
      <div class="d-flex custom_flex">
        <fa-icon [icon]="faCheck" class="text-danger me-3"></fa-icon>
        <p class="text-white w-75">My experience in web development enables me to design and develop interactive and responsive web pages and sites for all devices</p>
      </div>
      <div class="d-flex custom_flex">
        <fa-icon [icon]="faCheck" class="text-danger me-3"></fa-icon>
        <p class="text-white w-75">I will work to achieve excellent performance for your website by using best practices and applying guidelines from tools like Lighthouse.</p>
      </div>
      <div class="d-flex custom_flex">
        <fa-icon [icon]="faCheck" class="text-danger me-3"></fa-icon>
        <p class="text-white w-75">I will work to ensure your site's compliance with the best standards and requirements in the web development world, including optimizing for an excellent user experience and adhering to international web standards.</p>
      </div>
      <div class="d-flex custom_flex mb-5">
        <fa-icon [icon]="faCheck" class="text-danger me-3"></fa-icon>
        <p class="text-white w-75">By utilizing tools like Lighthouse, I will work to deliver a website with exceptional performance and a smooth user experience, contributing to attracting and retaining visitors.</p>
      </div>
    </div>
</div>


