<div class="container-fluid bg-black text-white pt-3">

  <h1 class="text-center hover_custom ">Contact Us</h1>
  <div class="container py-5 custom_hiegh">
    <div class="row">
      <div class="col-md-6 custom">
        <div class="firstRow">
          <fa-icon [icon]="faLocationDot" class="text-danger"></fa-icon>
          <h5  class="mt-3">My Location</h5>
          <hr width="35px">
          <p>Alexandria</p>
        </div>
        <div class="firstRow">
          <fa-icon [icon]="faMobileScreen" class="text-danger"></fa-icon>
          <h5 class="mt-3">Call Me</h5>
          <hr width="35px">
          <p>+20 01277040276</p>
        </div>
        <div class="firstRow">
          <fa-icon [icon]="faEnvelope" class="text-danger"></fa-icon>
          <h5 class="mt-3">Email Me</h5>
          <hr width="35px">
          <p>Basm.fathy159&#64;gmail.com</p>
        </div>
        <!-- <fa-icon [icon]="faMobileScreen"></fa-icon>
        <fa-icon [icon]="faEnvelope"></fa-icon> -->
      </div>
      <div class="col-md-6">
        <form action="">
          <input type="text" class="form-control my-3 p-3" placeholder="Enter Your Name">
          <input type="text" class="form-control my-3 p-3" placeholder="Enter Your Email">
          <input type="text" class="form-control my-3 p-3" placeholder="Enter Your Task">
          <textarea type="text" class="form-control my-3 p-3" cols="20" rows="10" placeholder="Enter Your Message"></textarea>
          <button class="btn btn-danger btn-lg px-3 py-2"><a href="mailto:basm.fathy159@gmail.com?subject=Hi Samir, " class="nav-link">Message Me</a></button>
        </form>
      </div>
    </div>
  </div>
</div>
