<div class="bg-black py-3">
<div class="container">
  <h1 class="text-center hover_custom mb-3">My Certificate</h1>
  <div id="carouselExampleFade" class="carousel slide carousel-fade">
    <div class="carousel-inner">
      <div class="carousel-item ">
        <img src="../../assets/imgs/certificates/cert1.webp" class="d-block w-100 img-fluid" alt="...">
        <h2 class="text-white text-center my-5">
          This certificate is a completion certificate for the JavaScript language course from Mahara-Tech. This scholarship contains many challenges, but it was considered one of the easiest scholarships at the Arab level due to my deep understanding of the JavaScript language. If you want a PDF copy, click the "Open Certificate" button.</h2>
        <a href="../../assets/imgs/pdf/Course1.pdf" class="text-center m-auto d-flex justify-content-center btn btn-danger btn-lg">Open Certificate</a>
      </div>
      <div class="carousel-item active">
        <img src="../../assets/imgs/certificates/cert2.webp" class="d-block w-100" alt="...">
        <h2 class="text-white text-center my-5">
          This certificate is a completion certificate for the "Programming with JavaScript" course by Meta, supported by Coursera, which is considered one of the best certificates that I have sought to obtain. Meta provided the best instructors for in-depth HTML, CSS, and JavaScript.. If you want a PDF copy, click the "Open Certificate" button.
        </h2>
        <a href="../../assets/imgs/pdf/Coursera2.pdf" class="text-center m-auto d-flex justify-content-center btn btn-danger btn-lg">Open Certificate</a>
      </div>
      <div class="carousel-item">
        <img src="../../assets/imgs/certificates/cert3.webp" class="d-block w-100" alt="...">
        <h2 class="text-white text-center my-5">
          This certificate is a completion certificate for the "Introduction into HTML, CSS, and JavaScript" course from IBM, supported by Coursera. It was a significant challenge throughout the course and the scholarship because IBM is known for its extensive practical application. If you want a PDF copy, click the "Open Certificate" button.
        </h2>
        <a href="../../assets/imgs/pdf/Coursera3.pdf" class="text-center m-auto d-flex justify-content-center btn btn-danger btn-lg">Open Certificate</a>
      </div>
      <div class="carousel-item">
        <img src="../../assets/imgs/certificates/cert4.webp" class="d-block w-100" alt="...">
        <h2  class="text-white text-center my-5">This certificate is a completion certificate for the "Introduction into Web Development With HTML, CSS, and JavaScript" course from IBM, supported by Coursera. It was a significant challenge throughout the course and the scholarship, as IBM is known for its extensive practical application.  If you want a PDF copy, click the "Open Certificate" button.</h2>
        <a href="../../assets/imgs/pdf/Coursera4.pdf" class="text-center m-auto d-flex justify-content-center btn btn-danger btn-lg">Open Certificate</a>
      </div>
      <div class="carousel-item">
        <img src="../../assets/imgs/certificates/cert5.webp" class="d-block w-100" alt="...">
        <h2  class="text-white text-center my-5">
          This certificate is a completion certificate for the "Web Development Fundamentals: HTML, CSS, and JavaScript" course from IBM Skill Build, supported by Coursera. It was a significant challenge throughout the course and the scholarship because IBM is known for its extensive practical application. This scholarship focused on problem-solving, and I solved many problems on the CodeWars website using JavaScript.  If you want a PDF copy, click the "Open Certificate" button.
        </h2>
        <a href="../../assets/imgs/pdf/SkillsBuild.pdf" class="text-center m-auto d-flex justify-content-center btn btn-danger btn-lg">Open Certificate</a>
      </div>
      <div class="carousel-item">
        <img src="../../assets/imgs/certificates/cert6.webp" class="d-block w-100" alt="...">
        <h2  class="text-white text-center my-5">This certificate is a completion certificate for the "Web Development Fundamentals: HTML, CSS, and JavaScript" course from IBM Skill Build, supported by Coursera. It was a significant challenge throughout the course and the scholarship because IBM is known for its extensive practical application. This scholarship focused on problem-solving, and I solved many problems on the CodeWars website using JavaScript.  If you want a PDF copy, click the "Open Certificate" button.</h2>
        <a href="../../assets/imgs/pdf/WebDevelopmentFundamentals_Badge20231110-29-68gzg1.pdf" class="text-center m-auto d-flex justify-content-center btn btn-danger btn-lg">Open Certificate</a>
      </div>
    </div>
    <button class="carousel-control-prev b-black" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bg-black text-danger rounded" aria-hidden="true"></span>
      <span class="visually-hidden bg-black text-danger">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon bg-black text-danger rounded" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
</div>
