<div class="container-fluid py-2 bg-black text-white ">
  <h1 class="text-center hover_custom mt-3">My Portfolio</h1>
  <div class="row pt-5">
    <div class="col-md-4 my-4">
      <a href="https://magical-basbousa-276deb.netlify.app/" class="nav-link" target="_blank">
        <img src="../../assets/imgs/sites/site1.webp" alt="" class="img-fluid rounded d-flex justify-content-center m-auto mb-4">
        <h3 class="text-center mb-3">OmniFood WebSite</h3>
      </a>
    </div>

    <div class="col-md-4 my-4">
      <a href="https://gilded-pudding-1ed481.netlify.app/" class="nav-link" target="_blank">
        <img src="../../assets/imgs/sites/site2.webp" alt="" class="img-fluid rounded d-flex justify-content-center m-auto mb-4">
        <h3 class="text-center mb-3">CorsoTraning WebSite</h3>
      </a>
    </div>

    <div class="col-md-4 my-4">
      <a href="https://glittery-conkies-c5e45d.netlify.app/" class="nav-link" target="_blank">
        <img src="../../assets/imgs/sites/site3.webp" alt="" class="img-fluid rounded d-flex justify-content-center m-auto mb-4">
        <h3 class="text-center mb-3">YavinOffice WebSite</h3>
      </a>
    </div>

    <div class="col-md-4 my-4">
      <a href="https://resilient-jelly-f62f3d.netlify.app/" class="nav-link" target="_blank">
        <img src="../../assets/imgs/sites/site4.webp" alt="" class="img-fluid rounded d-flex justify-content-center m-auto mb-4">
        <h3 class="text-center mb-3">BlogMastery WebSite</h3>
      </a>
    </div>

    <div class="col-md-4 my-4">
      <a href="https://hazem-ghonem.netlify.app/" class="nav-link" target="_blank">
        <img src="../../assets/imgs/sites/site5.webp" alt="" class="img-fluid rounded d-flex justify-content-center m-auto mb-4">
        <h3 class="text-center mb-3">FitnessTrainer WebSite</h3>
      </a>
    </div>

    <div class="col-md-4 my-4">
      <a href="https://cool-gelato-50e70b.netlify.app/" class="nav-link" target="_blank">
        <img src="../../assets/imgs/sites/site6.webp" alt="" class="img-fluid rounded d-flex justify-content-center m-auto mb-4">
        <h3 class="text-center mb-3">AnotherPortofolio WebSite</h3>
      </a>
    </div>

    <div class="col-md-4 my-4">
      <a href="https://clinquant-llama-9414da.netlify.app/" class="nav-link" target="_blank">
        <img src="../../assets/imgs/sites/site7.webp" alt="" class="img-fluid rounded d-flex justify-content-center m-auto mb-4">
        <h3 class="text-center mb-3">GTA V WebSite</h3>
      </a>
    </div>

    <div class="col-md-4 my-4">
      <a href="https://lucent-fudge-353e68.netlify.app/" class="nav-link" target="_blank">
        <img src="../../assets/imgs/sites/site8.webp" alt="" class="img-fluid rounded d-flex justify-content-center m-auto mb-4">
        <h3 class="text-center mb-3">GTA Sa WebSite</h3>
      </a>
    </div>

    <div class="col-md-4 my-4">
      <a href="https://illustrious-zabaione-3d404d.netlify.app/" class="nav-link" target="_blank">
        <img src="../../assets/imgs/sites/site9.webp" alt="" class="img-fluid rounded d-flex justify-content-center m-auto mb-4">
        <h3 class="text-center mb-3">Bondi WebSite</h3>
      </a>
    </div>

    <div class="col-md-4 my-4">
      <a href="https://samirahmedeldod.github.io/tests/" class="nav-link" target="_blank">
        <img src="../../assets/imgs/sites/site10.webp" alt="" class="img-fluid rounded d-flex justify-content-center m-auto mb-4">
        <h3 class="text-center mb-3">FPS Zone WebSite</h3>
      </a>
    </div>
  </div>
</div>

